body {
  font-family: 'Open Sans', sans-serif;
  color: #FCFFF5;
  background-color: #193441;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}

span.name {
  font-size: 250%;
  font-weight: 300;
}

span.title {
  color: #D1DBBD;
}

.profile-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.personal-picture {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.bio-text {
  line-height: 140%;
  margin-left: 30px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}
.footer img {
  width: 80px;
  margin-left: 20px;
}
